<h1 class="center-text">Lista de productos:</h1>
<span style="display:none" aria-hidden="true" data-cart="{{user.cart}}" id="cart_id"></span>
<ul class="products container">
    {{#each products}}
    <li class='product flex__col product-{{this._id}}' data-stock='{{this.stock}}'>
        <a href="http://localhost:8080/buyproduct/{{this._id}}" class="flex__col product__info">
            {{#if this.thumbnails}}
            <img class='product__info--img' alt='Imagen de producto de {{this.title}}' src='{{this.thumbnails.[0]}}' />
            {{else}}
            <img class='product__info--img' alt='Imagen de producto de {{this.title}}' src='https://cdn2.vectorstock.com/i/1000x1000/81/56/empty-icon-on-white-background-simple-element-vector-28228156.jpg' />
            {{/if}}
            <p class='product__info--title'>{{this.title}}</p>
            <p class='product__info--price' >{{this.price}}€</p>
        </a>
        <div class="itemCount flex__col flex--center">
            <div class="itemCount__quantity flex">
                <button class="minusOne itemCount__quantity--button">-</button>
                <span class="itemCount__quantity--amount amount-{{this._id}}">1</span>
                <button id="{{this._id}}" class="plusOne itemCount__quantity--button">+</button>
            </div>
            <button id ="{{this._id}}" class="itemCount__add-to-cart cart-{{this._id}}">Añadir al carrito</button>
        </div>
    </li>
    {{/each}}
</ul>
{{#if pagination}}
<div class="pagination">
    {{#if hasPrevPage}}
    <a href="{{prevLink}}" class="button pagination-button pagination-prev">Prev Page</a>
    {{/if}}
    {{#if hasNextPage}}
    <a href="{{nextLink}}" class="button pagination-button pagination-next">Next Page</a>
    {{/if}}
</div>
{{/if}}
<script src="/static/js/addProduct.js"></script>
