<div class="signup flex__col">
  <h3 class="center-text">Enter your address</h3>
  <form action="/checkout/{{id}}" method="post" class="flex__col">
    <input name="address" type="text" placeholder="Address">
    <input name="city" type="text" placeholder="City">
    <input name="postcode" type="text" placeholder="Postcode">
    
    {{#if error}}
      <span class="signup__error">{{error}}</span>
    {{/if}}

    <button>Finish Payment</button>
  </form>

  <h3>Your cart:</h3>
  <ul class="cart__items flex__col">
      {{#each products}}
      <li class="item-{{this.product._id}} flex">
        <a href="http://localhost:8080/buyproduct/{{this.product._id}}" class="flex cart-item">
            {{#if this.product.thumbnails}}
            <img class='cart-item__img' alt='Imagen de producto de {{this.product.title}}' src='{{this.product.thumbnails.[0]}}' />
            {{else}}
            <img class='cart-item__img' alt='Imagen de producto de {{this.product.title}}' src='https://cdn2.vectorstock.com/i/1000x1000/81/56/empty-icon-on-white-background-simple-element-vector-28228156.jpg' />
            {{/if}}
            <div class="cart-item__info flex__col">
              <p class='cart-item__info--title'>{{this.product.title}}</p>
              <p class='cart-item__info--quantity'>{{this.quantity}}</p>
              <p class='cart-item__info--price' >{{this.product.price}}€</p>
            </div>
          </a>
      </li>
      {{else}}
      <li><h2>Cart is empty</h2></li>
      {{/each}}
      <li class="cart__total">Total: {{total}}€</li>
  </ul>

  <a class="button style="text-align: center"" href="/cart">Go back to cart</a>
</div>