<h1>Lista de productos:</h1>
<ul class="products container">
    {{#each products}}
    <li class='product flex__col product-{{this._id}}' data-stock='{{this.stock}}'>
        <a href="http://localhost:8080/product/{{this._id}}" class="flex__col product__info">
            {{#if this.thumbnails}}
            <img class='product__info--img' alt='Imagen de producto de {{this.title}}' src='{{this.thumbnails.[0]}}' />
            {{else}}
            <img class='product__info--img' alt='Imagen de producto de {{this.title}}' src='https://cdn2.vectorstock.com/i/1000x1000/81/56/empty-icon-on-white-background-simple-element-vector-28228156.jpg' />
            {{/if}}
            <p class='product__info--title'>{{this.title}}</p>
            <p class='product__info--price' >{{this.price}}€</p>
        </a>
    </li>
    {{/each}}
</ul>
