<div class="single-product container flex">
    <div class="single-product__thumbnails flex__col">
        {{#if product.thumbnails}}
        <img class='single-product__thumbnails--main' alt='Imagen de producto de {{product.title}}' src='{{product.thumbnails.[0]}}' />
        <ul class="thumbnails flex">
        {{#each product.thumbnails}}
            {{#unless @first}}
            <li class='thumbnails__img'>
                <img alt='Imagen de producto de {{product.title}}' src='{{this}}' />
            </li>
            {{/unless}}
        {{/each}}
        </ul>
        {{else}}
        <img class='single-product__thumbnails--main' alt='Imagen de producto de {{product.title}}' src='https://cdn2.vectorstock.com/i/1000x1000/81/56/empty-icon-on-white-background-simple-element-vector-28228156.jpg' />
        {{/if}}
    </div>
    <div class="single-product__info flex__col">
        <h1 class='single-product__info--title'>Title: {{product.title}}</h1>
        <p class='single-product__info--code'>Code: {{product.code}}</p>
        <p class='single-product__info--price'>Price: {{product.price}}€</p>
        <p class='single-product__info--description'>Description: {{product.description}}</p>
        <p class='single-product__info--stock'>Stock: {{product.stock}}</p>
    </div>
</div>
<div class="lightbox">
    <svg class="lightbox__close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="50px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="50px" xml:space="preserve"><path d="M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4  L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1  c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1  c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z"/></svg>
    <svg class="lightbox__prev" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="50px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="50px" xml:space="preserve"><polygon points="352,128.4 319.7,96 160,256 160,256 160,256 319.7,416 352,383.6 224.7,256 "/></svg>
    <svg class="lightbox__next" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="50px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="50px" xml:space="preserve"><polygon points="160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 "/></svg>
    <img class="lightbox__image"/>
</div>
<script src="/static/js/thumbnails.js"></script>