<div class="single-product container flex">
    <div class="single-product__thumbnails flex__col">
        {{#if product.thumbnails}}
        <img class='single-product__thumbnails--main' alt='Imagen de producto de {{product.title}}' src='{{product.thumbnails.[0]}}' />
        <ul class="thumbnails flex">
        {{#each product.thumbnails}}
            {{#unless @first}}
            <li class='thumbnails__img'>
                <img alt='Imagen de producto de {{product.title}}' src='{{this}}' />
            </li>
            {{/unless}}
        {{/each}}
        </ul>
        {{else}}
        <img class='single-product__thumbnails--main' alt='Imagen de producto de {{product.title}}' src='https://cdn2.vectorstock.com/i/1000x1000/81/56/empty-icon-on-white-background-simple-element-vector-28228156.jpg' />
        {{/if}}
    </div>
    <div class="single-product__info flex__col">
        <h1 class='single-product__info--title'>Title: {{product.title}}</h1>
        <h2 class='single-product__info--code'>Code: {{product.code}}</h1>
        <p class='single-product__info--price'>Price: {{product.price}}€</p>
        <p class='single-product__info--description'>Description: {{product.description}}</p>
        <p class='single-product__info--stock'>Stock: {{product.stock}}</p>
    </div>
</div>
<script src="/static/js/thumbnails.js"></script>