<h1>Lista de productos en tiempo real:</h1>
<ul class="products-list">
    {{#each products}}
    <li id="{{this._id}}">
        <p><b>Título:</b> {{this.title}}</p>
        <p><b>Descripción:</b> {{this.description}}</p>
        <p><b>Precio:</b> {{this.price}}€</p>
        <p><b>Stock:</b> {{this.stock}}</p>
    </li>
    {{/each}}
</ul>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/index.js"></script>