<h2>Thanks for your purchase</h2>
<p>Here you can see the details:</p>
<ul>
  <li>Id: {{ticket.id}}</li>
  <li>Code: {{ticket.ticket.code}}</li>
  <li>Date: {{ticket.ticket.createdAt}}</li>
  <li>Purchaser: {{ticket.ticket.purchaser}}</li>
  <li>Amount: {{ticket.ticket.amount}}</li>
</ul>